@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);

  --veryDarkBlueLight: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.light-mode {
  color: var(--veryDarkBlue);
  background-color: var(--veryLightGray);
}

.dark-mode {
  color: var(--veryLightGray);
  background-color: var(--veryDarkBlue);
}

.dark-module {
  background-color: var(--darkBlue);
}

header {
  font-weight: 600;
}

.icon {
  margin-top: 4px;
}
